<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script type="text/javascript" src='../dist/bower_components/angular/angular.js'></script>
		<script type="text/javascript" src='../dist/bower_components/jquery/dist/jquery.js'></script>
		<script type="text/javascript" src='../dist/bower_components/bootstrap/dist/js/bootstrap.js'></script>
		<script type="text/javascript" src='js/app.js'></script>
		<script type="text/javascript" src='js/controllers.js'></script>
		<script type="text/javascript" src='js/services.js'></script>
	</head>
	<body ng-app='todoDisplay'>
		<div class='container' id='display'>
			<table ng-controller='TodoController as todos'>
				<button ng-click='todos.resetEdit()'>Cancel Edit</button>
				<tr>
					<th>Title</th>
					<th>Description</th>
				</tr>
				<tr>
					<form name='taskForm' ng-submit='todos.addTask()'>
						<td>
							<input type='text' ng-model='todos.newTodo.title' class="form-control">
						</td>
						<td>
							<input type='text' ng-model='todos.newTodo.description'>
						</td>
						<input type="submit" value="Submit Task" class="form-control" />
					</form>
				</tr>
				<tr ng-repeat='todo in todos.list'>
					<td>
						<div ng-hide='todos.isSet(todo.id)'>{{todo.title}}</div>
						<input ng-model-'todos.currentItem.title' ng-show='todos.isSet(todo.id)'/>
					</td>
					<td>
						<div ng-hide='todos.isSet(todo.id)'>{{todo.description}}</div>
						<input ng-model-'todos.currentItem.description' ng-show='todos.isSet(todo.id)'/>
					</td>
					<td>
						<button ng-click='todos.remove(todo.id)'>Delete</button>
					</td>
					<td>
						<button ng-click='todos.setEdit(todo)' ng-hide='todos.isSet(todo.id)'>Edit</button>
						<button ng-click='todos.saveEdit(todo)' ng-show='todos.isSet(todo.id)'>Save</button>

					</td>
				</tr>
			</table>
		</div>
	</body>
</html>