<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script type="text/javascript" src='../dist/bower_components/angular/angular.js'></script>
		<script type="text/javascript" src='../dist/bower_components/jquery/dist/jquery.js'></script>
		<script type="text/javascript" src='../dist/bower_components/bootstrap/dist/js/bootstrap.js'></script>
		<script type="text/javascript" src='js/app.js'></script>
		<script type="text/javascript" src='js/controllers.js'></script>
		<script type="text/javascript" src='js/services.js'></script>
	</head>
	<body ng-app='todoDisplay'>
		<div class='container' id='display'>
			<table ng-controller='TodoController as todos'>
				<tr>
					<th>Title</th>
					<th>Description</th>
				</tr>
				<tr>
					<form>
						<td>
							<input type='text' ng-model='todos.newTodo.title'>
						</td>
						<td>
							<input type='text' ng-model='todos.newTodo.description'>
						</td>
						<input type="submit" value="Submit Task" />
					</form>
				</tr>
				<tr ng-repeat='todo in todos.list'>
					<td>
						{{todo.title}}
					</td>
					<td>
						{{todo.description}}
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>